body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color: #000; /* Warna latar belakang hitam */
    color: #fff; /* Warna teks putih */
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar-logo {
    max-height: 60px;
    margin-right: 10px;
    margin-left: 70px;
    cursor: pointer;
}

.navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 970px;
}

.navbar-item {
    margin: 0 1rem;
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    position: relative;
}

.navbar-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s;
}

.navbar-item a:hover::after {
    width: 100%;
}

body{
    font-family: 'century gothic';
}

.container{
    width: 100%;
}

.line{
    background: rgb(24, 255, 228);
    width: 40px;
    height: 4px;
}

.title{
    font-size: 70px;
}

.table{
    margin-left: 300px;
    margin-top: 150px;
}

button{
    background-color: rgb(24, 255, 228);
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    margin-top: 10px;
}

h5{
    font-size: 20px;
    margin-top: 15px;
}

.rounded-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.table {
    margin: 0 auto;
    margin-top: 100px;
}